<%- include('../partials/html-heading.ejs')%>

<body>
    
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="/">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="skills/new">ADD NEW SKILL</a>
        </li>
    </ul>

    <ul class="list-group list-group-flush">
        <% skills.forEach(function(skill) { %>
            <li class="list-group-item">
                <%= skill.skill %>
                - 
                <a href='/skills/<%= skill.id %>' >See More</a>
            </li>
        <% }); %>
    </ul>

    

</body>
</html>